body {
    font-family: "Roboto", serif;
    font-size: 18px;
    color: #f2f2f2;
    margin: 0;
    padding: 0;
}




/* Header. */

.header {
    background-color: #1f2937;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 10px;
}

.headerLogo img {
    width: 200px;
    height: 100px;
    box-shadow: 5px 5px 5px #add8e6;
}

.headerLinks ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
}

.headerLinks a {
    color: #f2f2f2;
    text-decoration: none;
    padding: 15px;
}

.headerLinks a:hover {
    color: #f4f4f4;
    padding: 17px;
    font-size: 20px;
    text-shadow: 2px 2px 10px;
}




/* Hero. */

.heroContainer {
    background-color: #1f2937;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    margin-right: 10px;
    margin-left: 10px;
    padding: 50px;
    display: flex;
    justify-content: space-between;
    gap: 150px;
}

.heroTitle {
    font-size: 24px;
    letter-spacing: 2.0;
    font-weight: bold;
    opacity: 0.9;
}

.heroLeft {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 125px;
}

.heroText {
    font-size: 18px;
    color: #e5e7eb;
    margin-bottom: 20px;
    line-height: 1.0;
    opacity: 0.8;
}

.heroButton button {
    background-color: #4a658a;
    border: 2px solid #4e5d72;
    box-shadow: 3px 3px 5px #4e5d72;
    border-radius: 11px;
    width: 130px;
    height: 40px;
    color: #f2f2f2;
    font-size: 17px;
    font-weight: bold;
    cursor: pointer;
}

.heroRight {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.heroImage {
    width: 100%;
    max-width: 500px;
    height: auto;
}

.heroImage img {
    box-shadow: 5px 5px 5px #add8e6;
}




.dimensionContainer {
    color: #272c33;
}

.dimensionTitle {
    text-align: center;
}

.dimensionTitle h2 {
    font-weight: bold;
    letter-spacing: 2.0;
    text-shadow: 2px 2px 5px;
}

.dimensionBox {
    display: flex;
    gap: 45px;
    justify-content: center;
}

.dimensionBox > div {
    border: 3px solid #272c33;
    border-radius: 9px;
    width: 200px;
    height: 200px;
    box-shadow: 5px 5px 3px;
}

.dimensionBox > div img {
    width: 200px;
    height: 200px;
}

.dimensionText {
    text-align: center;
    font-size: 16px;
}




.quoteContainer {
    background-color: #e5e7eb;
    border: 3px solid #1f2937;
    border-radius: 15px;
    box-shadow: 5px 5px 3px #1f2937;
    height: 300px;
    margin-top: 150px;
    margin-bottom: 150px;
    margin-right: 50px;
    margin-left: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.8;
}

.quoteText {
    font-size: 24px;
    color: #1f2937;
    font-weight: 900;
}

.quoteAuthor {
    display: flex;
    justify-content: flex-end;
    opacity: 0.7;
}




.actionContainer {
    background-color: #3882f6;
    border: 2px solid #1f2937;
    border-radius: 13px;
    box-shadow: 5px 5px 3px #1f2937;
    width: 900px;
    height: 200px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.actionText1 {
    font-size: 24px;
}

.actionText2 {
    font-size: 20px;
    opacity: 0.8;
}

.actionButton button {
    background-color: #3882f6;
    border: 2px solid #1f2937;
    box-shadow: 4px 4px 3px #1f2937;
    border-radius: 11px;
    width: 130px;
    height: 40px;
    color: #f2f2f2;
    font-size: 17px;
    font-weight: bold;
    cursor: pointer;
}




.footerContainer {
    background-color: #1f2937;
    height: 50px;
    margin-top: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}